{% extends "base.html" %}
{% block content %}

<h1 class="page-title">Gallery</h1>

{% for section, files in gallery_data.items() %}
<h2>{{ section }}</h2>

<div class="gallery">
    {% for file in files %}
        {% if file.endswith('.mp4') %}
            <video controls>
                <source src="{{ url_for('static', filename='uploads/' + section.lower() + '/' + file) }}">
            </video>

        {% elif file.endswith('.pdf') %}
            <div class="card pdf">
                <a href="{{ url_for('static', filename='uploads/' + section.lower() + '/' + file) }}" target="_blank">
                    📄 {{ file }}
                </a>
            </div>

        {% else %}
            <div class="card">
                <img src="{{ url_for('static', filename='uploads/' + section.lower() + '/' + file) }}">
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endfor %}

{% endblock %}
